.change{
    color: rgb(255, 255, 255);
    font-size: 100px;
    background-color: rgb(109, 26, 187);
}
.change2{
    color: darkgray;
    font-size: 40px;
    background-color: rgb(109, 26, 187);
}
.change3{
    color: white;
    font-size: 40px;
    background-color: black;
}
.change4{
    color: white;
    font-size: 60px;
    background-color: blue;
}
.change5{
    color: black;
    font-size: 40px;
}